.form {
    text-align: center;
    margin-bottom: 60px;
}

.form__input {
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    width: 500px;
    padding: 10px 0;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 20px;
    outline: none;
}

.form__btn {
    background-color: yellow;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 0;
    width: 160px;
    cursor: pointer;
    outline: none;
}