<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="searchForm" class="form" novalidate>
        <input formControlName="search" type="text" class="form__input" (keyup)="search(searchForm)" placeholder="Enter name or phone number">
        <button (click)="add()" class="form__btn">Add new person</button>
      </form>
    </div>
  </div>

  <!-- <div style="text-align:center">
      <button (click)="add()">Add new person</button>
    </div> -->

  <router-outlet></router-outlet>

  <div *ngIf="show">
    <app-person-list></app-person-list>
  </div>

  <div *ngIf="!show">
    <app-found-list [ser]="ser"></app-found-list>
  </div>
</div>