<div style="text-align:center">
  <form [formGroup]="addForm" novalidate (ngSubmit)="add(addForm)">

    <div style="text-align:center">
      <label for="name">Person name</label>
      <input formControlName="name" type="text" placeholder="name">
    </div>

    <div style="text-align:center">
      <label for="phone">Phone</label>
      <input formControlName="phone" type="text" placeholder="phone">
    </div>

    <div style="text-align:center">
      <label for="photo">Photo</label>
      <input formControlName="photo" type="file" #photo>
    </div>

    <button>Add</button>

  </form>
  <button (click)='back()'>Back</button>
</div>